<form
  id="add-avenger-to-mission"
  action="/missions/<%=mission._id%>/avengers"
  method="POST"
>
  <select name="avengerId">
    <%- avengers.map (a => `
    <option value="${a._id}">${a.alias}</option>
    `).join('') %>
  </select>
  <button type="submit">Assign Avenger</button>
</form>

<!--Collection of Former Abilities ul, stick this under Abilities in avengers show page-->
<ul class="ul-abilities">
  <% for (let i=0; i< avenger.abilities.length; i++) { %>
  <li><%=avenger.abilities[i]%></li>
  <% }; %>
</ul>
