<nav class="navbar">
  <a href="/">Home</a>
  <a href="/avengers/">Avengers Roster</a>
  <a href="/avengers/new">Recruit Avenger</a>
  <a href="/missions/">Mission Board</a>
  <a href="/missions/new">New Mission Request</a>
</nav>
