<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <h1>Avengers Roster</h1>

      <table id="avengerslist">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Avenger</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% avengers.forEach(function (a) { %>
          <tr>
            <td><img class="icon" src="<%= a.icon %>" /><%= a.icon %></td>
            <td><%= a.alias %></td>
            <td><button>Terminate</button></td>
          </tr>

          <% }); %>
        </tbody>
      </table>

      <a href="/avengers/new">Recruit New Avenger</a>
    </div>
  </body>
</html>
