<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <div class="all-content">
      <%- include('../partials/backgroundleft') %>
      <div class="middle-div">
        <%- include('../partials/navbar') %>
        <div class="middle-background">
          <!--add image source later for background-->
          <form
                class="avengers-recruitment"
                action="/avengers/new"
                method="POST"
              >
          <div class="avengers-application">
            <h1 class="page-title">Avengers Application</h1>
            <div class="form-header">
              <div class="form-header-left">
                <img class="pointing" src="/images/pointing.jpg" />
                <h2>We Want You!</h2>
              </div>
              <div class="form-header-right">
                <label>Alias</label>
                <input type="text" name="alias" /><br />
                <label>Identity</label>
                <input type="text" name="identity" /><br />
                <label>Description</label><br>
                <textarea type="text" name="description" /></textarea>
                              
              </div>            
            </div>
            <div class="content-form">       
                <label>Icon (URL)</label><br>
                <input
                  type="text"
                  name="icon"
                  value="https://toppng.com/uploads/preview/question-mark-icon-png-1155224288245ptwi4q2v.png"
                /><br />
                <label>Hero Portrait (URL)</label><br>
                <input
                  type="text"
                  name="model"
                  value="https://restorixhealth.com/wp-content/uploads/2018/08/No-Image.png"
                /><br />
                <label>Photo ID (URL)</label><br>
                <input
                  type="text"
                  name="photo"
                  value="https://banffventureforum.com/wp-content/uploads/2019/08/No-Image.png"
                /><br />

                <label>Abilities (Add Up to 4)</label><br>
                <button id="add-ability" type="button">
                  Add Another Ability</button
                ><br />
                <div class="abilities-div">
                  <label>Ability 1</label>
                  <input
                    id="input-ability-1"
                    type="text"
                    name="ability1"
                  /><br />
                </div>
                <br>
                <button id="submit-recruitform" type="submit">Submit Application</button><br />
              
            </div>
          </div>
          </form>
        </div>
      </div>
      <%- include('../partials/backgroundright') %>
    </div>
    </div>
  </body>
</html>
