<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <form id="avengers-recruitment" action="/avengers/new" method="POST">
        <label>Alias</label>
        <input type="text" name="alias" /><br />
        <label>Identity</label>
        <input type="text" name="identity" /><br />
        <label>Description</label>
        <input type="text" name="description" /><br />
        <label>Icon (Link To Image)</label>
        <input type="text" name="icon" value="No Image Available" /><br />
        <label>Hero Portrait (Link To Image)</label>
        <input type="text" name="model" value="No Image Available" /><br />
        <label>Photo ID (Link To Image)</label>
        <input type="text" name="photo" value="No Photo Available" /><br />
        <label>Abilities (Comma Seperated)</label>
        <input type="text" name="abilities" /><br />
        <label>Ultimate Move (form coming soon)</label>

        <button type="submit">Submit Application</button>
      </form>
    </div>
  </body>
</html>
