<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to The AVENGERS INITIATIVE</h1>
      <a href="/avengers">See All Avengers</a>
      <a href="/missions">See All Missions</a>
    </div>
  </body>
</html>
