<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to The AVENGERS INIATIVE</h1>
    <div class="container">
      <a href="/avengers/index">See All Avengers</a>
    </div>
  </body>
</html>
