<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <div class="container">
      <%- include('./partials/navbar') %>
      <div class="content-home">
        <h1>Welcome to The AVENGERS INITIATIVE</h1>
        <a href="/avengers">See All Avengers</a>
        <a href="/missions">See All Missions</a>
      </div>
    </div>
  </body>
</html>
