/*General All Page Default Styling*/
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color: #a0aecd;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
  background-image: url("/images/avengers_back.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc; */
}

.all-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

/*Homepage Styling Here!*/
.container-home {
  margin: none;
  width: 100vw;
  height: 100vh;
  min-width: 750px;

  background-image: url("/images/aveng_hq.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.welcome {
  min-width: 750px;
  min-height: 500px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.welcome > h1 {
  font-size: 60px;
  color: #2e3560;
  margin-bottom: 0;
  font-style: italic;

  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
}

/* Navigation Bar Styling here*/
.navbar {
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #3a4486;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > a {
  color: white;
  margin: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

a.goback {
  font-size: 20px;
  margin-bottom: 5px;
}

h1.page-title {
  font-size: 35px;
  margin: 15px;
}

/*left and right division backgrounds*/
.left-div {
  width: 25%;
  height: 100vh;
}

#leftbackground {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-div {
  width: 25%;
  height: 100vh;
}

#rightbackground {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*MIDDLE DIVISION SETUP*/
.middle-div {
  width: 50%;
  height: 100vh;
  min-width: 760px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-repeat: none;
}

/*=======END OF GENERAL PAGE SETUP HERE. INDIVIDUAL PAGE STYLING BELOW ========*/

/*Homepage Styling here */
.content {
  width: 100vh;
  height: 100vh;
}

/* AVENGERS INDEX/ROSTER STYLING HERE*/

.icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.delete-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.avengers-roster {
  margin-top: 10px;
  width: 500px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0abb3;
}

table.avengers-table {
  width: 80%;
}

th {
  font-size: 20px;
}
th.icon-col {
  width: 30%;
}

td {
  text-align: center;
  font-size: 20px;
}

.middle-background {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* AVENGERS PROFILE SHOW PAGE STYLING HERE*/
.content {
  width: 50%;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid blue;
  border-radius: 20px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.model-div {
  max-width: 450px;
  max-height: 700px;

  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.model {
  width: 100%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
}

.identity-div {
  max-width: 300px;
  max-height: 700px;
  margin: 5px;
  width: 40%;

  display: flex;
  flex-direction: column;
}

.update-profile {
  font-size: 15px;
  color: red;
}

img.photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.span-name {
  font-size: 25px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission > h2 {
  margin: 0;
}

.missionlist {
  margin: 0;
}

.missionlist > li {
  margin: 5px;
}
/*Recruit/Edit New Avengers Page */
.pointing {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.avengers-application {
  margin-top: 10px;
  width: 600px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0abb3;
}

div.form-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.form-header-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
div.form-header-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

div.form-header-right > label {
  font-size: 20px;
}
div.form-header-right > input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  margin-top: 0;
  width: 100%;
  height: 60px;
}

.content-form {
  width: 80%;
}

.content-form > label {
  font-size: 20px;
}

.content-form > input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.abilities-div > label {
  font-size: 15px;
}
.abilities-div > input {
  width: 100%;
  margin-bottom: 5px;
}

#add-ability {
  margin-top: 5px;
  margin-bottom: 5px;
}

#submit-recruitform,
#submit-editform,
#submit-missionform,
#submit-editmissionform {
  margin-bottom: 20px;
}

/*MISSIONS INDEX STYLING HERE*/

.team-icon {
  width: 60px;
  height: 60px;
}

.mission-board {
  margin-top: 10px;
  width: 750px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a0abb3;
}

table#missionlist {
  width: 90%;
}

th.operation-col {
  width: 30%;
}
th.team-col {
  width: 65%;
}
th.cancel-col {
  width: 5%;
}

td.missionCell {
  height: 75px;
}

.mission-board > a {
  font-size: 20px;
  margin-bottom: 5px;
}

/*MISSIONS NEW PAGE STYLING HERE*/
div.mission-dispatch-content {
  width: 100%;
}

div.mission-dispatch-content > label {
  font-size: 20px;
}

div.mission-dispatch-content > input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

#nickfury-icon {
  width: 380px;
  height: 380px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

/*MISSIONS SHOW PAGE STYLING HERE*/

.current-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-delete-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 5px;
}

.available-avengers {
  display: flex;
  flex-direction: row;
}

div.mission-header {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: row;
}

div.mission-header-left {
  width: 50%;
  margin-left: 20px;
}

div.mission-header-left > h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

h2.mission-show {
  margin-top: 0;
  font-size: 30px;
}

h3.mission-show {
  margin-bottom: 5px;
  font-size: 20px;
}

div.mission-header-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.buttons-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a#edit-mission {
  margin-right: 5px;
}

form#deletemission {
  margin-left: 5px;
}

#mission-icon {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

div.mission-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.mission-objective {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2#mission-show-id {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

h2.icon-teams {
  font-size: 20px;
  margin-bottom: 5px;
}
